In [ ]:
!git clone https://github.com/tensorflow/models.git

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/trainnormalized.csv")

In [ ]:
len(df)

10536

In [ ]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)
df.head()

           image_name  b_i        xi        yi        wi        hi
0  C1_P01_N1_S2_1.JPG    0  0.739545  0.709324  0.924431  0.881170
1  C1_P01_N1_S2_1.JPG    0  0.754219  0.424132  0.939105  0.595978
2  C1_P01_N1_S2_1.JPG    0  0.017608  0.398537  0.196625  0.577697
3  C1_P01_N1_S2_1.JPG    0  0.205429  0.716636  0.390315  0.888483
4  C1_P01_N1_S2_1.JPG    0  0.214233  0.398537  0.399120  0.570384

In [ ]:
df.tail()

              image_name   x_i   y_i   w_i   h_i  b_i
2643  C4_P08_N3_S3_1.JPG   996  1524  1212  1872    0
2644  C4_P08_N3_S3_1.JPG  1700   264  1952   652    2
2645  C4_P08_N3_S3_1.JPG  1928   264  2180   652    2
2646  C4_P08_N3_S3_1.JPG  1440  1556  1648  1856    9
2647  C4_P08_N3_S3_1.JPG  1656  1552  1864  1852    9

In [ ]:
df00 = df[df["image_name"] == "C1_P01_N1_S2_1.JPG"]
len(df00)

0

In [ ]:
dft = df.T

In [ ]:
len(df.image_name.unique())

283

In [ ]:
Uvalues = df.image_name.unique()
Uvalues[0]

'C1_P01_N1_S2_1.JPG'

In [ ]:
for img_name in range(len(Uvalues)):
  filenameL = Uvalues[img_name].split(".")[0]
  tempfile = open("/content/train/" +filenameL + ".txt","a+")
  for i in range(len(df)):
    filenameI = df.image_name[i].split(".")[0]
    if filenameL == filenameI :
      fline = str(df.b_i[i])+" "+str(df.xi[i])+" "+str(df.yi[i])+" "+str(df.wi[i])+" "+str(df.hi[i])+"\n"
      tempfile.writelines(fline) 

  tempfile.close()

In [ ]:
#filenameL = img_name.split(".")[0]
tempfile = open("test.txt","w")
tempfile.write("created \n")
for i in range(len(df)):
  filenameI = df.image_name[i].split(".")[0]
  if filenameL == filenameI :
    tempfile.write("written \n")
#    fline = str(df.b_i[value])+" "+str(df.x_i[value])+" "+str(df.y_i[value])+" "+str(df.w_i[value])+" "+str(df.h_i[value])+"\n"
#    tempfile.write("written \n")